.fc .fc-button-primary:not(:disabled).fc-button-active {
  padding: 0.01em 0.3em !important;
  background-color: #5844ad !important;
  
}

.fc .fc-button-primary:hover{
  background-color: #7d5ffc !important;

}

.fc .fc-button-primary{
  --fc-button-border-color: #53ddf0 !important;
  --fc-button-bg-color: #7d5ffc !important;
  --fc-button-text-color: #53ddf0 !important;
  
  
}

.fc .fc-button {
    padding: 0.01em 0.3em !important;
    
    
    
  }

  .fc .fc-toolbar-title{
    font-size: 1.4em !important;
  }

  .fc .fc-toolbar.fc-header-toolbar{
    height: 1vh !important;
    padding: 0 0.5em 0 0.5em !important;
  }

  .parent-class a {
    color: "#7d5ffc" !important;
  }